/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
/README
nytprof.out
/pm_to_blib
*.c
*.o
*.obj
*.bs
*.base
*.exp
*.def
*.gz
*.zip
*.tar
*.gz
*.old
*.db
TA.pm
TA.xs
/tmp*
/temp*